table, tr, td {
    /*border: 1px solid black;*/
}

table {
    /*width: 1200px;*/
}

tr {
    height: 80px;
    width: 80px;
}

td {
    padding: 10px;
}

.table {
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
    width: 1000px;
}

.row {
    display: table-row;
}

div.operator {
    display: table-cell;
    border: solid black;
    font-size: 24px;
    padding: 10px;
    width: 60px;
    cursor: pointer;
    z-index: 1;
    background-color: white;
}

.active_operator {
    display: table-cell;
    border: solid red;
    font-size: 24px;
    padding: 10px;
    width: 60px;
    cursor: pointer;
    z-index: 1;
    background-color: white;
}

div.qubit {
    position: relative;
    padding-left: 25px;
    padding-bottom: 8px;
    width: 1000px;
    height: 80px;
    z-index: 0;
}

div.op {
    position: relative;
/*    margin-right: 8px;
    margin-top: 8px;*/
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: white;
    opacity: 0;
    z-index: 2;
}

div.op:hover {
    background-color: #808080;
    opacity: 0.3;
}

div.op2 {
    position: relative;
/*    margin-top: 8px;*/
    font-size: 24px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: white;
    opacity: 1;
    border: solid;
    z-index: 2;
/*    margin-right: 8px;*/
}

canvas {
    z-index: 1;
    color: black;
    width: 80px;
    height: 80px;
    position: absolute;
    /*border: 1px solid red;*/
    transform: translateX(-50%) translateY(-13%);
}
