@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/circuit.css"/>

        <!-- Подключение библиотеки jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.js"
                integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
                crossorigin="anonymous">
        </script>

        <script>

            var Id = 0;

            // Расположение оператора на схеме
            function changeStyleTo() {
                this.setAttribute("class", "op2");
                s = "";

                $.ajax({
                    url: '@Url.Action("Get", "Home")',
                    type: 'get',
                    async: false,
                    success: function(data) {
                        s = data;
                    }
                });

                this.innerHTML = s;
                // Отправка данных в квантовое ядро ...
            }

            // Удаление оператора со схемы
            function changeStyleFrom() {
                this.setAttribute("class", "op");
                this.innerHTML = "";
                // Отправка данных в квантовое ядро ...
                return false;
            }

            // Отрисовка линии на схеме
            function draw(id) {
                var c = document.getElementById(id);
                var ctx = c.getContext("2d");
                ctx.strokeStyle = "black";
                ctx.lineWidth = 3;
                ctx.beginPath();
                ctx.moveTo(0, 75);
                ctx.lineTo(300, 75);
                ctx.stroke();
            }

            // Выбор оператора
            function choose() {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Choose", "Home")',
                    data: { op: this.id },
                    dataType: "json"
                });
                arr = document.getElementsByClassName("active_operator");
                for (var i = 0; i < arr.length; i++) {
                    arr[i].setAttribute("class", "operator");
                }
                this.setAttribute("class", "active_operator");   
            }

            function setCanvas(div, id) {
                var canvas = document.createElement("canvas");
                canvas.id = id;
                div.appendChild(canvas);
            }

            function addQubit() {
                m = 15;

                var tr = document.createElement("tr");
                tr.id = "q" + Id;
                console.log(Id);
                for (var j = 0; j < m; j++) {
                    var td = document.createElement("td");

                    var canvas = document.createElement("canvas");
                    canvas.id = "c" + Id + "_" + j;
                    td.appendChild(canvas);


                    var operator = addOperator(j);
                    td.appendChild(operator);
                    tr.appendChild(td);
                }
                var table = document.getElementById("qreg");
                table.appendChild(tr);

                for (var j = 0; j < m; j++) {
                    draw("c" + Id + "_" + j);
                }

                Id = Id + 1;
                return tr;
            }

            function deleteQubit() {
                Id = Id - 1;
                var q = document.getElementById("q" + Id);
                console.log("q" + Id);
                q.remove(); 
            }

            function addOperator(i) {
                var operator = document.createElement("div");
                operator.id = "op" + Id + "_" + i;
                operator.setAttribute("class", "op");
                operator.onclick = changeStyleTo;
                operator.oncontextmenu = changeStyleFrom;
                return operator;
            }

            function setTable() {
                n = 5;
                

                var div = document.getElementById("main");
                var table = document.createElement("table");
                table.id = "qreg";
                div.appendChild(table);

                for (var i = 0; i < n; i++) {
                    var tr = addQubit();
                    // table.appendChild(tr);
                }
                

                //for (var i = 0; i < n; i++) {
                //    for (var j = 0; j < m; j++) {
                //        var id = "c" + i + "_" + j;
                //        draw(id);
                //    }
                //}
            }

            // Загрузка объектов страницы
            document.addEventListener("DOMContentLoaded", function() {
                setTable();

                var op = document.getElementsByClassName("operator");
                for (var i = 0; i < op.length; i++) {
                    op[i].onclick = choose;
                }

                var btn1 = document.getElementById("btn1");
                btn1.onclick = addQubit;

                var btn2 = document.getElementById("btn2");
                btn2.onclick = deleteQubit;
            });
        </script>
    </head>

    <body>
        <div class="text-center" id="main">
            <h1 class="display-4">Квантовая схема</h1>

            <table>
                <tr>
                    <td><div class="operator" id="I">I</div></td>
                    <td><div class="operator" id="H">H</div></td>
                    <td><div class="operator" id="X">X</div></td>
                    <td><div class="operator" id="Y">Y</div></td>
                    <td><div class="operator" id="Z">Z</div></td>
                    <td><div class="operator" id="S">S</div></td>
                    <td><div class="operator" id="T">T</div></td>
                    <td><div class="operator" id="M">M</div></td>

                    <td><button id="btn1">Add</button> </td>
                    <td><button id="btn2">Remove</button> </td>
                </tr>
            </table>
            <br />  
        </div>
    </body>
</html>